.Google-Logo{

    font-size: 5em;
    font-weight:bold;
    letter-spacing: -0.05em;
    justify-content: center;
    display: flex;
    margin-bottom: auto;
    position: relative;
    top:10px;
}


.Google-Logo span {
display:inline-block
}

.g1{
color:#4285F4;

}

.o1{
    color:#DB4437;
    
}

.o2{
    color:#F4B400;
    
}

.g2{
    color:#0F9D58;
    
}

.l{
    color:#4285F4;

}



.e{
    color: #DB4437;
    
}

.search-container {
  width: 50%; /* Imposta una larghezza per il contenitore */
  margin: 0 auto; /* Centra orizzontalmente */
  position: relative;
  top: 50px;

}

input[type="search"] {
  width: 100%; /* Rende la barra di ricerca larga quanto il contenitore */
  padding: 10px;
  font-size: 16px;

}

.Images {
    
    display: flex;
    justify-content: right;
    position: relative;
    bottom: 212px;
    right:50px;
}


.Gmail {

    display: flex;
    justify-content: right;
    position: relative;
    bottom: 175px;
    right: 100px ;

}











