.Header {
font-size: 20px;
color:blueviolet;
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 20px;

}

.button {
display:flex;
color:blue;
flex-direction: row;
align-items: center;
justify-content: center;

}

.input {
display:flex;
flex-direction: row;
align-items: start;
justify-content: flex-start;





}


